// #contact {
// }

.contact-container {
  width: 90%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.699);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .input-wrapper {
    position: relative;
    margin: 50px;
    color: #f7f7f7;
    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      transition: 0.4s width;
    }
    &::after {
      width: 100%;
      height: 3px;
      right: 0;
      background: #f7f7f7;
    }

    &::before {
      width: 0;
      height: 3px;
      left: 0;
      background-color: rgb(30, 205, 218);
    }

    &:focus-within::before {
      width: 100%;
    }

    &:focus-within::after {
      width: 0;
    }

    &.inFocus {
      & input ~ label,
      & textarea ~ label {
        top: -20px;
        left: 5px;
        color: rgb(30, 205, 218);
        font-weight: bold;
        font-size: 0.8rem;
      }
    }

    label {
      position: absolute;
      top: 10px;
      left: 5px;
      pointer-events: none;
      transition: 0.3s all;
    }
    input,
    textarea {
      outline: none;
      border: none;
      color: #f7f7f7;
      //   border-bottom: 2px solid white;
      padding: 10px;
      background: transparent;

      // &:focus ~ label {
      //   top: -20px;
      //   left: 5px;
      //   color: rgb(30, 205, 218);
      //   font-weight: bold;
      //   font-size: 0.8rem;
      // }
    }
  }
}
