.container {
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  scroll-snap-align: start;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(169, 169, 169, 0.934);
  text-align: center;
  display: none;
  transition: 0.4s all;
  z-index: 99;
  color: white;
  &:hover {
    background-color: rgba(169, 169, 169, 0.8);
  }
}
